/* Start - variable */

:root {
  --backgroung-all: #e5e5e5;
  --background-transparent-blue: rgba(33, 150, 243, 0.9);
  --background-dark: #2f303a;
  --background-transparent-dark: rgba(47, 48, 58, 0.8);
  --background-gray: #f5f4fa;
  --background-white: #fff;
  --border-gray: #eee;
  --border-light: #ececec;
  --color-all: #212121;
  --color-black: #000;
  --color-blue: #2196f3;
  --color-light-gray: #afb1b8;
  --color-gray: #757575;
  --color-white: #fff;
  --color-transparent: rgba(255, 255, 255, 0.6);
  --color-transparent-dark: rgba(255, 255, 255, 0.1);
  --color-transparent-light-dark1: rgba(0, 0, 0, 0.1);
  --color-transparent-light-dark2: rgba(0, 0, 0, 0.2);
}

/* End - variable */

/* Start - global style */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-all);
  background-color: var(--backgroung-all);
}

h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0 auto;
  padding: 0;
}

img {
  display: block;
}

/* End - global style */

/* Start - container */

.wrapper {
  margin: 0 auto;
  width: 100%;
  background-color: var(--background-white);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-inline: 15px;
}

.section {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--gray {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-gray);
}

.section--pb-no {
  padding-bottom: 0;
}

.background--dark {
  background-color: var(--background-dark);
}

/* End - container */

/* Start - styling many */

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex--center10 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.flex--wrap30 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.flex--basis4 {
  flex-basis: calc((100% - 90px) / 4);
}

.flex--basis6 {
  flex-basis: calc((100% - 150px) / 6);
}

.border--light {
  border-bottom: 1px solid var(--border-light);
}

/* End - styling many */

/* Start - icons */

.icon {
  display: block;
  fill: currentColor;
}

.icon__envelope {
  width: 16px;
  height: 12px;
  fill: var(--color-gray);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__smartphone {
  width: 10px;
  height: 16px;
  fill: var(--color-gray);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__information {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--background-gray);
  border: none;
  border-radius: 4px;
}

.icon__social {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  fill: var(--color-light-gray);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__social--special {
  --color4: var(--color-white);
  background: var(--color-transparent-dark);
}

.icon__customer {
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  fill: var(--color-light-gray);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* End - icons */

/* Start - header/footer styling */

.container--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container--footer {
  padding: 60px 15px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 70px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192307; /* 31px */
  letter-spacing: 0.03em;
  color: var(--color-blue);
}

.logo--top {
  color: var(--color-black);
}

.logo--bottom {
  color: var(--color-white);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 46px;
  margin-right: 325px;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142857; /* 16px */
  letter-spacing: 0.02em;
}

.menu--active {
  color: var(--color-blue);
}

.menu--active::after {
  position: absolute;
  content: '';
  display: block;
  width: 58px;
  height: 4px;
  margin-top: 28.5px;
  background-color: var(--color-blue);
  border-radius: 2px;
}

.contact--flex {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.contact--margin {
  margin-top: 20px;
}

.contact__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142857; /* 16px */
  letter-spacing: 0.02em;
  color: var(--color-gray);
}

.contact__footer {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5; /* change to 21px (because the height of the element is 21px in the figma layout) ||| in figma: 1.714285; 24px */
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.contact__footer--special {
  color: var(--color-transparent);
}

.contact__footer--margin {
  margin-top: 9px;
  margin-bottom: 9px;
}

.social__headline {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142857; /* 16px */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

/* End - header/footer styling */

/* Start - main index styling */

/* --- section service */

.image {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/team-working.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px;
}

.service {
  padding: 106px 252px;
  text-align: center;
}

.service__text {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363636; /* 60px */
  letter-spacing: 0.06em;
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
}

.service__order {
  padding: 10px 41px 10px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875; /* 30px */
  letter-spacing: 0.06em;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-blue);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* --- section information */

.information__headline {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142857; /* 16px */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.information__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.785714; /* change to 25px (because the height of the element is 75px [3x25px] in the figma layout) ||| in figma: 1.714285; 24px */
  letter-spacing: 0.03em;
  color: var(--color-gray);
}

/* --- section working and employee*/

.headline {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166666; /* 42px */
  letter-spacing: 0.03em;
  text-align: center;
}

.what-we-do {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.what-we-do__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142857;
  color: var(--color-white);
  background: var(--background-transparent-dark);
}

.employee {
  padding: 30px;
  text-align: center;
}

.card__employee {
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--background-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875; /* 19px */
  letter-spacing: 0.03em;
}

.employee__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875; /* 19px */
  letter-spacing: 0.03em;
  color: var(--color-gray);
}

/* End - main index styling */

/* Start - main portfolio styling */

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 303px 16px 295px;
  margin-bottom: 34px;
}

.filter__item {
  margin-inline: 4px;
}

.filter__item:first-of-type {
  margin-left: 0;
}

.filter__item:last-of-type {
  margin-right: 0;
}

.filter__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625; /* 26px */
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--background-gray);
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project {
  position: relative;
  overflow: hidden;
  flex-basis: calc((100% - 60px) / 3);
  border-bottom: 1px solid var(--border-gray);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project--relative {
  position: relative;
  overflow: hidden;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-right: 45px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.555555;
  color: var(--color-white);
  background-color: var(--background-transparent-blue);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__caption {
  padding: 20px 24px;
}

.project__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2; /* 36px */
  letter-spacing: 0.06em;
}

.project__type {
  font-size: 16px;
  line-height: 1.875; /* 30px */
  letter-spacing: 0.03em;
  color: var(--color-gray);
}

/* End - main portfolio styling */

/* Start - mark style */

a:hover .icon__social,
a:focus .icon__social {
  background-color: var(--color-blue);
  fill: var(--color-white);
  cursor: pointer;
}

a:hover .icon__customer,
a:focus .icon__customer {
  border-color: var(--color-blue);
  fill: var(--color-blue);
  cursor: pointer;
}

.link:visited {
  color: inherit;
}

.link:focus,
.link:hover {
  color: var(--color-blue);
}

.link:hover .icon__envelope,
.link:focus .icon__envelope,
.link:hover .icon__smartphone,
.link:focus .icon__smartphone {
  fill: var(--color-blue);
}

.filter__btn:hover,
.filter__btn:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.project:hover,
.project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.project:hover .project__description {
  transform: translateY(0);
}

/* End - mark style */

/* Start - modal window */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--color-transparent-light-dark2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background: var(--background-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  background: var(--background-white);
  border: 1px solid var(--color-transparent-light-dark1);
  border-radius: 50%;
}

.icon__btn-close {
  width: 18px;
  height: 18px;
  fill: var(--color-black);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.btn-close:hover,
.btn-close:focus {
  cursor: pointer;
  transition: opacity 2s ease;
}

@keyframes modal-open {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* End - modal window */
