/* Start - variable */

:root {
  --backgroung-all: #e5e5e5;
  --background-dark: #2f303a;
  --background-gray: #f5f4fa;
  --background-white: #fff;
  --border-gray: #eee;
  --border-light: #ececec;
  --color-all: #212121;
  --color-black: #000;
  --color-blue: #2196f3;
  --color-gray: #757575;
  --color-white: #fff;
  --color-white-transparent: rgba(255, 255, 255, 0.6);
}

/* End - variable */

/* Start - global style */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-all);
  background-color: var(--backgroung-all);
}

h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0 auto;
  padding: 0;
}

img {
  display: block;
}

/* End - global style */

/* Start - container */

.wrapper {
  margin: 0 auto;
  width: 100%;
  background-color: var(--background-white);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-inline: 15px;
}

.section {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--pb-no {
  padding-bottom: 0;
}

.background--dark {
  background-color: var(--background-dark);
}

.background--gray {
  background-color: var(--background-gray);
}

.background--light {
  background-color: var(--background-white);
}

/* End - container */

/* Start - styling many */

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.box--flex30 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.box--basis3 {
  flex-basis: calc((100% - 60px) / 3);
}

.box--basis4 {
  flex-basis: calc((100% - 90px) / 4);
}

.border--light {
  border-bottom: 1px solid var(--border-light);
}

.border--gray {
  border-bottom: 1px solid var(--border-gray);
}

/* End - styling many */

/* Start - header/footer styling */

.container--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container--footer {
  padding: 60px 15px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192307; /* 31px */
  letter-spacing: 0.03em;
  color: var(--color-blue);
}

.logo--top {
  color: var(--color-black);
}

.logo--bottom {
  color: var(--color-white);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 46px;
  margin-right: 371px;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142857; /* 16px */
  letter-spacing: 0.02em;
}

.menu--active {
  color: var(--color-blue);
}

.contact--flex {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.contact--margin {
  margin-top: 20px;
}

.contact__header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142857; /* 16px */
  letter-spacing: 0.02em;
  color: var(--color-gray);
}

.contact__footer {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5; /* change to 21px (because the height of the element is 21px in the figma layout) ||| in figma: 1.714285; 24px */
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.contact__footer--special {
  color: var(--color-white-transparent);
}

.contact__footer--margin {
  margin-top: 9px;
  margin-bottom: 9px;
}

/* End - header/footer styling */

/* Start - main index styling */

/* --- section service */
.service {
  padding: 106px 252px;
  text-align: center;
}

.service__text {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363636; /* 60px */
  letter-spacing: 0.06em;
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
}

.service__order {
  padding: 10px 41px 10px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875; /* 30px */
  letter-spacing: 0.06em;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-blue);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* --- section information */

.information__headline {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142857; /* 16px */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.information__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.785714; /* change to 25px (because the height of the element is 75px [3x25px] in the figma layout) ||| in figma: 1.714285; 24px */
  letter-spacing: 0.03em;
  color: var(--color-gray);
}

/* --- section working and employee*/
.headline {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166666; /* 42px */
  letter-spacing: 0.03em;
  text-align: center;
}

.employee {
  padding: 30px;
  text-align: center;
}

.employee__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875; /* 19px */
  letter-spacing: 0.03em;
}

.employee__position {
  font-size: 16px;
  line-height: 1.1875; /* 19px */
  letter-spacing: 0.03em;
  color: var(--color-gray);
}

/* End - main index styling */

/* Start - main portfolio styling */

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 303px 16px 295px;
  margin-bottom: 34px;
}

.filter__item {
  margin-inline: 4px;
}

.filter__item:first-of-type {
  margin-left: 0;
}

.filter__item:last-of-type {
  margin-right: 0;
}

.filter__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625; /* 26px */
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--background-gray);
  border: none;
  border-radius: 4px;
}

.project {
  padding: 20px 24px;
}

.project__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2; /* 36px */
  letter-spacing: 0.06em;
}

.project__type {
  font-size: 16px;
  line-height: 1.875; /* 30px */
  letter-spacing: 0.03em;
  color: var(--color-gray);
}

/* End - main portfolio styling */

/* Start - link style */

.link:visited {
  color: inherit;
}

.link:focus,
.link:hover {
  color: var(--color-blue);
}

.filter__btn:focus,
.filter__btn:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
  cursor: pointer;
}

/* End - link style */
